# Common ignores
/vendor/
/node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts / Temp files
tmp/
temp/
dist/
build/
coverage/

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.swp
*~

# Laravel specific
/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
public/build/
public/hot
telescope.sqlite
storage/telescope/*
storage/ignition/errors/*.json
